<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
	<appSettings>
		<add key="DefaultCommandTemplate" value="-i  ##SourceFile##  -threads ##ThreadNumber## -c:v ##Encoder## -crf ##Quality## ##Resolution##  ##TargetFile##"/>
		<add key="Encoders" value="wmv1,wmv2"/>
	</appSettings>
</configuration>
