<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
	<appSettings>
		<add key="ConvertCommandTemplate" value="-i  ##SourceFile##  -threads ##ThreadNumber## -c:v ##Encoder## -crf ##Quality## ##Resolution##  ##TargetFile##"/>
		<add key="Encoders" value="wmv1,wmv2"/>
		<add key="CutCommandTemplate" value="-ss ##StartDuration## -i ##SourceFile##  -t ##Duration## -c copy  -avoid_negative_ts 1 ##TargetFile##"/>
	</appSettings>
</configuration>
